@page "/recommendedFilm"

@using shows_buzz_feed.Data
@using shows_buzz_feed.Helpers
@using shows_buzz_feed.Services
@using shows_buzz_feed.Mappings.Film
@using Microsoft.JSInterop
@using Blazored.Modal.Services
@inject RecommendedFilmService recommendedFilmService
@inject FilmService filmService
@inject UserSeenFilmService userSeenFilmService
@inject IJSRuntime jsRuntime
@inject IModalService Modal
@using shows_buzz_feed.Pages.RecommendedFilm

<h1>Recommended film</h1>

<p>Here you can see recommended film, based on your watched movies</p>

@if (filmAndMessage.Item2 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (filmAndMessage.Item1 == null)
    {
        <p><em>@filmAndMessage.Item2</em></p>
    }
    else
    {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length Minutes</th>
                <th>Budget $</th>
                <th>Release Year</th>
                <th>Genre</th>
                <th>Director</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@filmAndMessage.Item1.Name</td>
                <td>@filmAndMessage.Item1.Length</td>
                <td>@filmAndMessage.Item1.Budget$</td>
                <td>@filmAndMessage.Item1.ReleaseYear</td>
                <td>@filmAndMessage.Item1.Genre</td>
                <td>@filmAndMessage.Item1.Director</td>
            </tr>
            
        </tbody>
    </table>
        }
    }

@code {
    (FilmViewModel, string) filmAndMessage;
    int userId = 1;
    string _message;

    protected override async Task OnInitializedAsync()
    {
        filmAndMessage = await recommendedFilmService.GetRecommededFilmAsync(userId);

    }

    protected async Task Load()
    {
        filmAndMessage = await recommendedFilmService.GetRecommededFilmAsync(userId);

    }

}